.grid
  display grid
  makeGrid(1, 15px, 15px)

+mediaQuery(450)
  .grid-4  
    grid-template-columns repeat(2, 1fr)

+mediaQuery('small')
  .grid-3
    grid-template-columns repeat(3, 1fr)

+mediaQuery('medium')
  .grid-2
    grid-template-columns repeat(2, 1fr)
  .grid-4
    grid-template-columns repeat(4, 1fr)
    