.home
  padding-top 50px
  text-align center

.searcher
  margin 80px auto 40px
  max-width 450px
  input
    border 1px solid $light
    box-shadow none
    height 37px
    margin-bottom 10px
    padding 5px 10px
    width 100%
  .btn-send
    background-color $main
    border 0
    color $light
    font-size 1.2em
    height 40px
    padding 5px 25px
    setFont('Source', 700)
