.grid
  display grid
  makeGrid(1, 15px, 15px)

@media (min-width 450px)
  .grid-4
    makeGrid(2)

@media (min-width 550px)
  .grid-3
    makeGrid(3)

@media (min-width 768px)
  .grid-2
    makeGrid(2)
  .grid-4
    makeGrid(4)
    